@font-face {
  font-family: AnonProBold;
  src: url(../public/Anonymous_Pro/AnonymousPro-Bold.ttf);
  weight: 400
}


@font-face {
  font-family: AnonProReg;
  src: url(../public/Anonymous_Pro/AnonymousPro-Regular.ttf);
  weight: 400
}

.contentBlock {
  width: 100%;
  height: fit-content;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 5%;
  padding-bottom: 5%;
  align-content: center;
}

.parent {
  display: flex;
}

.child p {
  width: 85%;
}

.aboutHead {
  font-family: AnonProBold;
  font-size: 60px;
  padding-top: 15px;
}

.sectionHead {
  font-family: AnonProBold;
  font-size: 60px;
  padding-top: 15px;
  margin: auto;
  text-align: center;
  width: 50%;
  border-bottom: 3px solid #000;
  margin-bottom: 30px;
}

.navButtons {
  display: flex;
  width: 85%;
  padding-top: 20px;
}

.btn {
  /* Button styles */
  padding: 10px 0px; /* Adjust padding as needed */
  width: 160px;
  border: 2px solid #004AAD; /* Blue outline */
  color: #004AAD; /* Blue text color */
  background-color: white; /* White background */
  border-radius: 30px; /* Rounded corners */
  font-weight: bold;
  font-size: 20px;
  margin: auto;

  /* Optional: Hover effect */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #004AAD; /* Change background color on hover */
  color: white; /* Change text color on hover */
  border-color: #004AAD; /* Change border color on hover */
}

.projectCard {
  padding: 20px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.projectTitle {
  color: #004AAD;
  font-size: 20px;
  font-weight: bold;
}

.imageLink {
  transition: filter 0.3s ease;
  position: relative;
}

.imageLink:hover {
  filter: brightness(70%);
}

.skills {
  font-weight: bold;
  font-size: 15px;
}

.projDesc {
  font-size: 15px;
}




