@font-face {
  font-family: AnonProBold;
  src: url(../public/Anonymous_Pro/AnonymousPro-Bold.ttf);
  weight: 400
}


@font-face {
  font-family: AnonProReg;
  src: url(../public/Anonymous_Pro/AnonymousPro-Regular.ttf);
  weight: 400
}

.contentBlock {
  width: 100%;
  height: fit-content;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 18%;
  padding-right: 18%;
  align-content: center;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .contentBlock {
    flex-direction: column; /* Stack flex items vertically */
    align-items: center; /* Center flex items horizontally */
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.parent {
  display: flex;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 1020px) {
  .parent {
    flex-direction: column; /* Stack flex items vertically */
    align-items: center; /* Center flex items horizontally */
    width: 100%;
  }
}

.child p {
  overflow-wrap: break-word;
}


.aboutHead {
  font-family: AnonProBold;
  font-size: 60px;
  padding-top: 15px;
}

.aboutImg {
  max-height: 500px;
  width: auto;
}

.sectionHead {
  font-family: AnonProBold;
  font-size: 60px;
  padding-top: 15px;
  margin: auto;
  text-align: center;
  border-bottom: 3px solid #000;
  margin-bottom: 30px;
}

.navButtons {
  display: flex;
  width: 85%;
  padding-top: 20px;
}

@media screen and (max-width: 650px) {
  .navButtons {
    flex-direction: column; /* Stack flex items vertically */
    align-items: center; /* Center flex items horizontally */
    width: 100%;
  }
}

.navLink {
  color: white; /* Default color */
  text-decoration: none; /* Remove underline */
  padding:20px;
  transition: color 0.3s ease; /* Smooth transition on color change */
}

.navLink:hover {
  color: black;
}

.navLink.selected {
    color: black; /* Grey color on hover and when selected */
}

.btn {
  /* Button styles */
  padding: 10px 0px; /* Adjust padding as needed */
  width: 160px;
  border: 2px solid #004AAD; /* Blue outline */
  color: #004AAD; /* Blue text color */
  background-color: white; /* White background */
  border-radius: 30px; /* Rounded corners */
  font-weight: bold;
  font-size: 20px;
  margin: auto;

  /* Optional: Hover effect */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn:hover {
  background-color: #004AAD; /* Change background color on hover */
  color: white; /* Change text color on hover */
  border-color: #004AAD; /* Change border color on hover */
}

.projectCard {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-content: center;
}


.projectTitle {
  color: #004AAD;
  font-size: 20px;
  font-weight: bold;
}

.imageLink {
  transition: filter 0.3s ease;
  position: relative;
}

.imageLink:hover:not([href=""]) {
  filter: brightness(70%);
}

.skills {
  font-weight: bold;
  font-size: 15px;
}

.projDesc {
  font-size: 15px;
  overflow-wrap: break-word;
}

.courseCard {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: fit-content;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.resumeBlock {
  height: 1000px;
}


.resumeIframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  margin:auto;
  text-align: center;
}

.reflect {
  margin: auto;
  width: 80%;
}

.sepDiv {
  padding: 10px;
}

.custom-collapse {
  background-color: white;
}

/* Collapse after width 1020p*/




